---
wan_edge_templates:
  - name: Spoke1 WAN Edge Template
    type: spoke
    sites:
      - Spoke1
    ip_configs:
      Spoke1-LAN:
        type: static
        ip: "{{'{{LAN_PFX}}'}}.1"
    dns_servers:
      - 10.85.130.156
    port_config:
      ge-0/0/0:
        name: WAN1
        usage: wan
        ip_config:
          type: static
          ip: "10.85.144.123"
          netmask: /25
          gateway: "10.85.144.1"
        vpn_paths:
          Hub-WAN1.OrgOverlay:
            role: spoke
            bfd_profile: broadband
            key: 1
      ge-0/0/1:
        networks:
          - Spoke1-LAN
        usage: lan
    path_preferences:
      LBO:
        strategy: ordered
        paths:
          - name: WAN1
            type: wan
      LAN:
        strategy: ordered
        paths:
          - type: local
            networks:
              - Spoke1-LAN
      Overlay_WAN1:
        strategy: ordered
        paths:
        - name: Hub-WAN1.OrgOverlay
          type: vpn
    dhcpd_config:
      enabled: True
      Spoke1-LAN:
        type: local
        ip_start: 172.16.128.10
        ip_end: 172.16.128.100
        gateway: 172.16.128.1
        dns_servers:
          - 10.85.130.156
    oob_ip_config:
      type: dhcp
      node1: {
        type: dhcp
      }
    service_policies:
      - name: Spoke1-Hub
        tenants:
        - Spoke1-LAN
        services:
        - Hub_lan
        action: allow
        path_preference: Overlay_WAN1
        idp:
          enabled: false
      - name: lbo-Spoke1
        tenants:
        - Spoke1-LAN
        services:
        - Internet
        action: allow
        idp:
          enabled: false
        path_preference: LBO
      - name: internet-macbook-vnc-spoke
        tenants:
        - Internet
        services:
        - APP_5900_SPOKE1
        action: allow
        idp:
          enabled: false
      - name: Hub-Spoke1
        tenants:
        - Hub-LAN
        services:
        - Spoke1_lan
        action: allow
        idp:
          enabled: false
        path_preference: LAN
hub_profiles:
  - name: Hub1_WAN_Edge_Template
    type: gateway
    site: Hub
    device: 
      name: SSR120-Hub
      mac: "{{ssr_hub_mac}}"
    ip_configs:
      Hub-LAN:
        type: static
        ip: "{{'{{LAN_PFX}}'}}.1"
    dns_servers:
      - 10.85.130.156
    port_config:
      ge-0/0/0:
        name: WAN1
        usage: wan
        ip_config:
          type: static
          ip: "10.85.144.122"
          netmask: /25
          gateway: "10.85.144.1"
        vpn_paths:
          Hub-WAN1.OrgOverlay:
            role: hub
      ge-0/0/1:
        networks:
          - Hub-LAN
        usage: lan
    path_preferences:
      LBO:
        strategy: ordered
        paths:
          - name: WAN1
            type: wan
      Overlay_WAN1:
        strategy: ordered
        paths:
          - name: Hub-WAN1.OrgOverlay
            type: vpn
      LAN:
        strategy: ordered
        paths:
          - type: local
            networks:
              - Hub-LAN
    dhcpd_config:
      enabled: True
      Hub-LAN:
        type: local
        ip_start: 172.16.129.10
        ip_end: 172.16.129.100
        gateway: 172.16.129.1
        dns_servers:
          - 10.85.130.156
    service_policies:
      - name: internet-macboook-vnc-hub
        tenants:
        - Internet
        services:
        - APP_5900_HUB
        action: allow
        idp:
          enabled: false
        local_routing: true
      - name: Hub-Spoke1
        tenants:
        - Hub-LAN
        services:
        - Spoke1_lan
        action: allow
        idp:
          enabled: false
        path_preference: Overlay_WAN1
      - name: lbo_Hub
        tenants:
        - Hub-LAN
        services:
        - Internet
        action: allow
        idp:
          enabled: false
        path_preference: LBO
      - name: Spoke1-Hub
        tenants:
        - Spoke1-LAN
        services:
        - Hub_lan
        action: allow
        idp:
          enabled: false
        local_routing: true
switch_templates:
  - name: Spoke1-Template
    networks:
      CLIENT_VLAN:
        vlan_id: 10
      UPLINK_VLAN_1:
        vlan_id: 20
      UPLINK_VLAN_2:
        vlan_id: 30
    port_usages:
      lab_uplink:
        mode: trunk
        port_network: default
        networks:
          - CLIENT_VLAN
          - UPLINK_VLAN_1
          - UPLINK_VLAN_2
        stp_edge: False
      wifi_hosts:
        mode: access
        port_network: UPLINK_VLAN_2
        stp_edge: True
      lab_ap:
        mode: access
        port_network: UPLINK_VLAN_1
        stp_edge: True
      desktops:
        mode: trunk
        port_network: default
        networks:
          - CLIENT_VLAN
          - UPLINK_VLAN_1
          - UPLINK_VLAN_2
        stp_edge: True
    switch_matching:
      enable: True
      rules:
        - name: ex-spoke1
          port_config:
            ge-0/0/0:
              usage: ap
            ge-0/0/1:
              usage: ap
          match_name[0:4]: Ex-Spoke1
    switch_mgmt:
      root_password: Jnpr123!
    dns_servers:
      - 10.85.130.156
    sites:
      - Spoke1
  - name: Hub-Template
    networks:
      CLIENT_VLAN:
        vlan_id: 10
      UPLINK_VLAN_1:
        vlan_id: 20
      UPLINK_VLAN_2:
        vlan_id: 30
    port_usages:
      lab_uplink:
        mode: trunk
        port_network: default
        networks:
          - CLIENT_VLAN
          - UPLINK_VLAN_1
          - UPLINK_VLAN_2
        stp_edge: False
      wifi_hosts:
        mode: access
        port_network: UPLINK_VLAN_2
        stp_edge: True
      lab_ap:
        mode: access
        port_network: UPLINK_VLAN_1
        stp_edge: True
      desktops:
        mode: trunk
        port_network: default
        networks:
          - CLIENT_VLAN
          - UPLINK_VLAN_1
          - UPLINK_VLAN_2
        stp_edge: True
    switch_matching:
      enable: True
      rules:
        - name: ex-hub
          port_config:
            ge-0/0/0:
              usage: ap
            ge-0/0/1:
              usage: ap
          match_name[0:4]: Ex-Hub
    switch_mgmt:
      root_password: Jnpr123!
    dns_servers:
      - 10.85.130.156
    sites:
      - Hub
wlan_templates:
  - name: WLAN Spoke1
    applies:
      org_id: {{org_id}}
  - name: WLAN Hub
    applies:
      org_id: {{org_id}}
wlans:
  - ssid: Spoke1_WLAN
    enabled: True
    bands:
      - 5
    band_steer: False
    auth:
      type: psk
    dynamic_psk:
      enabled: True
      source: cloud_psks
      default_psk: juniper123
      private_wlan: True
    rateset:
      5:
        template: high-density
        min_rssi: 0
    template: WLAN Spoke1
  - ssid: Hub_WLAN
    enabled: True
    bands:
      - 5
    client_limit_up_enabled: True
    client_limit_up: 512
    client_limit_down_enabled: True
    client_limit_down: 1000
    auth:
      type: psk
    dynamic_psk:
      enabled: True
      source: cloud_psks
      default_psk: juniper123
      private_wlan: True
    rateset:
      5:
        template: high-density
        min_rssi: 0
    template: WLAN Hub
applications:
  - name: Internet
    type: custom
    addresses:
      - 0.0.0.0/0
    specs:
      - protocol: any
    traffic_type: default
  - name: Spoke1_lan
    type: custom
    addresses:
      - 172.16.128.0/24
    specs:
      - protocol: any
    traffic_type: default
  - name: Hub_lan
    type: custom
    addresses:
      - 172.16.129.0/24
    specs:
      - protocol: any
    traffic_type: default
  - name: APP_5900_HUB
    type: custom
    addresses:
      - 10.85.144.122/32
    specs:
      - protocol: tcp
        port_range: 5900-5900
    traffic_type: default
  - name: APP_5900_SPOKE1
    type: custom
    addresses:
      - 10.85.144.123/32
    specs:
      - protocol: tcp
        port_range: 5900-5900
    traffic_type: default
networks:
  - name: Hub-LAN
    #gateway: "{{'{{ LAN_PFX }}'}}.1"
    subnet: "{{'{{LAN_PFX}}'}}.0/24"
    ip: "{{'{{LAN_PFX}}'}}.0"
    prefix: "24"
    disallow_mist_services: False
    isolation: True
    vpn_access:
      OrgOverlay:
        routed: True
        no_readvertise_to_overlay: False
        no_readvertise_to_lan_bgp: False
        no_readvertise_to_lan_ospf: False
    #tenants: &tenants_1
    #  WEB_SERVER_1:
    #    addresses:
    #      - 10.99.99.130
    #  MQTT_SERVER_1:
    #    addresses:
    #      - 10.99.99.131
    #users: *tenants_1
    destNats:
      - name: Macbook-Hub_VNC
        external_ip: 10.85.144.122
        external_port: "5900"
        internal_ip: 172.16.129.99
        port: "5900"
        applies_to: underlay
    #internet_access:
    #  destination_nat:
    #    "192.168.170.2:2222":
    #      name: Desktop1_SSH
    #      internal_ip: 10.99.99.99
    #      port: "22"
  - name: Spoke1-LAN
    #gateway: "{{'{{LAN_PFX}}'}}.1"
    subnet: "{{'{{LAN_PFX}}'}}.0/24"
    ip: "{{'{{LAN_PFX}}'}}.0"
    prefix: "24"
    disallow_mist_services: False
    isolation: True
    vpn_access:
      OrgOverlay:
        routed: True
        no_readvertise_to_overlay: False
        no_readvertise_to_lan_bgp: False
        no_readvertise_to_lan_ospf: False
    #tenants: &tenants_2
    #  WEB_SERVER_2:
    #    addresses:
    #      - 10.88.88.130
    #  MQTT_SERVER_2:
    #    addresses:
    #      - 10.88.88.131
    #users: *tenants_2
  - name: Internet
    subnet: "0.0.0.0/0"
    ip: "0.0.0.0"
    prefix: "0"
    isolation: True
    disallow_mist_services: True
  - name: Pub_DNS
    subnet: "1.1.1.1/32"
    ip: "1.1.1.1"
    prefix: "32"
    isolation: True
    disallow_mist_services: True
sites:
  - info:
      name: Spoke1
      address: 201 Spoke1 Ave, Sunnyvale, CA 94086
      latlng:
        lat: 37.36883
        lng: -122.03635
      managed: True
      country_code: US
    settings:
      vars:
        LAN_PFX: 172.16.128
      rogue:
        min_rssi: -85
        min_duration: 1
        enabled: True
        honeypot_enabled: True
    assignments:
      edges:
        - name: SSR120-Spoke1
          mac: "{{ssr_spoke1_mac}}"
      aps:
        - name: AP-Spoke1
          mac: "{{ap_spoke1_mac}}"
      switches:
        - name: EX-Spoke1
          mac: "{{ex_spoke1_mac}}"
  - info:
      name: Hub
      address: 100 hub Ave, Sunnyvale, CA 94086
      latlng:
        lat: 37.363863
        lng: -121.901098
      managed: True
      country_code: US
    settings:
      vars:
        LAN_PFX: 172.16.129
    assignments:
      edges:
        - name: SSR120-Hub
          mac: "{{ssr_hub_mac}}"
      aps:
        - name: AP-Hub
          mac: "{{ap_hub_mac}}"
      switches:
        - name: EX-Hub
          mac: "{{ex_hub_mac}}"
psks:
  - name: iot-key-1
    ssid: JMA_WLAN_{{org_id[-4:]}}
    role: IoT
    expiry_days: 30
  - name: guest-key-1
    ssid: JMA_Guest_{{org_id[-4:]}}
    role: Guest
    expiry_days: 30
vpns:
  - Hub-WAN1

